<div class="container-fluid">
  <div class="container">
    <div class="login-form">
      <div class="card">
        <form>
          <div class="h3 text-center my-2 mb-3">Sign In</div>
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              id="floatingInput"
              placeholder="name@example.com"
            />
            <label for="floatingInput">Orion Mail ID</label>
          </div>
          <div class="form-floating">
            <input
              type="password"
              class="form-control"
              id="floatingPassword"
              placeholder="Password"
            />
            <label for="floatingPassword">Password</label>
          </div>
          <div class="submit-btn my-3 d-flex justify-content-center">
            <button type="button" class="btn">Sign In</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
