<nav class="navbar bg-dark">
  <div class="container">
    <a class="navbar-brand" [routerLink]="'home'">
      <span class="text-white fs-4">
        <i class="fa-solid fa-cubes-stacked"> </i>
      </span>
      <span class="text text-warning">Daily Task Reminder</span>
    </a>
    <div class="d-flex align-items-center" *ngIf="showUserInfo">
      <div class="d-flex flex-column align-items-end text-white px-2">
        <span class="mid-text">{{ user.name || "USER NAME" }}</span>
        <span class="small-text">{{ user.email || "user_email" }}</span>
      </div>
      <div class="user-icon text-white fs-4" *ngIf="!showUserMgrBtn">
        <i class="fa-solid fa-user-tie"></i>
      </div>
      <div class="dropdown dropstart" *ngIf="showUserMgrBtn">
        <button
          class="btn text-white fs-5 dropdown-toggle outline-none border-none"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fa-solid fa-user-gear"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li>
            <button class="dropdown-item" href="#">
              <i class="fa-solid fa-cloud-arrow-down"></i>
              &nbsp; Import
            </button>
          </li>
          <li>
            <button class="dropdown-item" href="#">
              <i class="fa-solid fa-file-import"></i>
              &nbsp; Export
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
