.container
    .navbar-brand
        .text
            font-weight: 500
            font-family: 'Poppins',sans-serief
            font-stretch: condensed
            margin-left: 13px
button
    &:active
        border: none
        outline: none
    &:focus
        border: none
